/* Resets */
body,
h1 {
  margin: 0px;
  padding: 0px;
}

body {
  padding-top: 64px;
}

img {
  display: block;
  width: 100%;
}

button,
input,
select {
  background: none;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}